.version.index /* version checker */
{
	color: #000002;
	background-color: #083D9A;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 534px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u140
{
	z-index: 10;
	min-height: 72px;
	padding-bottom: 18px;
}

#u173
{
	z-index: 22;
	width: 16px;
	height: 16px;
	margin-right: -10000px;
	margin-top: 44px;
	left: 129px;
}

#u171-4
{
	z-index: 18;
	width: 194px;
	min-height: 46px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 153px;
}

#u176
{
	z-index: 23;
	width: 16px;
	height: 16px;
	margin-right: -10000px;
	margin-top: 44px;
	left: 355px;
}

#menuu163
{
	z-index: 11;
	width: 161px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 899px;
}

#u167
{
	width: 161px;
	padding-bottom: 15px;
}

#u170-4
{
	width: 161px;
	min-height: 24px;
	margin-right: -10000px;
	top: 7px;
}

#u167.MuseMenuActive #u170-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u140-bw
{
	z-index: 10;
	min-height: 72px;
}

#u105
{
	z-index: 2;
	min-height: 72px;
	padding-bottom: 36px;
}

#u140_align_to_page,#u105_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#menuu106
{
	z-index: 3;
	width: 161px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 500px;
}

#u164,#u107
{
	width: 161px;
	min-height: 39px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u110
{
	width: 161px;
	padding-bottom: 10px;
}

#u167.MuseMenuActive,#u110.MuseMenuActive
{
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#u111-4
{
	width: 161px;
	min-height: 29px;
	margin-right: -10000px;
	top: 5px;
}

#u110.MuseMenuActive #u111-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u105-bw
{
	z-index: 2;
	min-height: 72px;
	margin-bottom: -7px;
	margin-top: 433px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -433px;
}

