.version.index /* version checker */
{
	color: #00001C;
	background-color: #034B86;
}

.html
{
	background-color: #DCDCFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 579px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #DCDCFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -1px;
	width: 0.01px;
}

#u177
{
	z-index: 32;
	width: 265px;
	padding-bottom: 20px;
	margin-right: -10000px;
	left: 120px;
}

#u555-4
{
	z-index: 62;
	width: 28px;
	min-height: 53px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 8px;
}

#u171-4
{
	z-index: 58;
	width: 194px;
	min-height: 46px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 36px;
}

#u560-4
{
	z-index: 66;
	width: 28px;
	min-height: 53px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 230px;
}

#menuu163
{
	z-index: 33;
	width: 367px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 693px;
}

#u164
{
	width: 73px;
	min-height: 39px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u167
{
	width: 73px;
	padding-bottom: 10px;
}

#u167.MuseMenuActive
{
	width: 73px;
	min-height: 0px;
	margin: 0px;
}

#u170-4
{
	width: 59px;
	min-height: 29px;
	margin-right: -10000px;
	top: 5px;
	left: 7px;
}

#u167:hover #u170-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u167.MuseMenuActive #u170-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u973
{
	width: 100px;
	min-height: 39px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 75px;
}

#u974
{
	width: 100px;
	padding-bottom: 10px;
}

#u974.MuseMenuActive
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u977-4
{
	width: 86px;
	min-height: 29px;
	margin-right: -10000px;
	top: 5px;
	left: 7px;
}

#u974:hover #u977-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u974.MuseMenuActive #u977-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u999
{
	width: 91px;
	min-height: 39px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 177px;
}

#u1000
{
	width: 91px;
	padding-bottom: 10px;
}

#u1000.MuseMenuActive
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u1003-4
{
	width: 77px;
	min-height: 29px;
	margin-right: -10000px;
	top: 5px;
	left: 7px;
}

#u1000:hover #u1003-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 77px;
	margin: 0px -10000px 0px 0px;
}

#u1000.MuseMenuActive #u1003-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 77px;
	margin: 0px -10000px 0px 0px;
}

#u1030
{
	width: 97px;
	min-height: 39px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 270px;
}

#u1033
{
	width: 97px;
	padding-bottom: 10px;
}

#u1033.MuseMenuActive
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u1036-4
{
	width: 83px;
	min-height: 29px;
	margin-right: -10000px;
	top: 5px;
	left: 7px;
}

#u1033:hover #u1036-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u1033.MuseMenuActive #u1036-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u140,#u140-bw
{
	z-index: 31;
	min-height: 90px;
}

#u837-4
{
	z-index: 70;
	width: 520px;
	min-height: 59px;
	background-color: transparent;
	line-height: 58px;
	margin-left: 220px;
	margin-top: 36px;
	position: relative;
}

#pu840
{
	width: 0.01px;
	margin-left: 261px;
	margin-top: 24px;
}

#u840
{
	z-index: 86;
	width: 197px;
	height: 22px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	border-width: 1px 0px 0px;
}

#u839-4
{
	z-index: 82;
	width: 44px;
	min-height: 22px;
	background-color: transparent;
	line-height: 17px;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 197px;
}

#u839-2
{
	text-align: center;
	font-family: source-code-pro, sans-serif;
}

#u841
{
	z-index: 87;
	width: 197px;
	height: 22px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 241px;
	border-width: 1px 0px 0px;
}

#u843
{
	z-index: 88;
	width: 357px;
	background-color: transparent;
	margin-left: 302px;
	margin-top: 11px;
	position: relative;
}

#u838-8
{
	z-index: 74;
	width: 520px;
	min-height: 59px;
	background-color: transparent;
	margin-left: 220px;
	margin-top: 24px;
	position: relative;
}

#u105
{
	z-index: 2;
	min-height: 94px;
	padding-bottom: 28px;
}

#u140_align_to_page,#u105_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u1069
{
	z-index: 23;
	width: 32px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 276px;
}

#u1056-4
{
	z-index: 19;
	width: 76px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 313px;
}

#ppu1048-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 445px;
}

#pu1048-4
{
	width: 0.01px;
	margin-left: 10px;
}

#u1048-4
{
	z-index: 11;
	width: 28px;
	min-height: 53px;
	margin-right: -10000px;
}

#u1047-4
{
	z-index: 7;
	width: 194px;
	min-height: 46px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 28px;
}

#u1049-4
{
	z-index: 15;
	width: 28px;
	min-height: 53px;
	margin-right: -10000px;
	left: 222px;
}

#u1045-4
{
	z-index: 3;
	width: 270px;
	min-height: 18px;
	margin-top: 5px;
}

#u1075
{
	z-index: 25;
	width: 32px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 765px;
}

#u1081-4
{
	z-index: 27;
	width: 44px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 53px;
	left: 802px;
}

#u105-bw
{
	z-index: 2;
	min-height: 94px;
	margin-top: 35px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

