.version.index /* version checker */
{
	color: #0000E9;
	background-color: #9A81D5;
}

.html
{
	background-color: #DCDCFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 534px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #DCDCFF;
	margin-left: auto;
	margin-right: auto;
}

#u177
{
	z-index: 23;
	width: 265px;
	padding-bottom: 20px;
	margin-right: -10000px;
	left: 120px;
}

#u555-4
{
	z-index: 47;
	width: 28px;
	min-height: 53px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 8px;
}

#u171-4
{
	z-index: 43;
	width: 194px;
	min-height: 46px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 36px;
}

#u560-4
{
	z-index: 51;
	width: 28px;
	min-height: 53px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 230px;
}

#menuu163
{
	z-index: 24;
	width: 339px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 721px;
}

#u164
{
	width: 71px;
	min-height: 39px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u167
{
	width: 71px;
	padding-bottom: 10px;
}

#u167.MuseMenuActive
{
	width: 71px;
	min-height: 0px;
	margin: 0px;
}

#u170-4
{
	width: 57px;
	min-height: 29px;
	margin-right: -10000px;
	top: 5px;
	left: 7px;
}

#u167:hover #u170-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u184
{
	width: 142px;
	min-height: 39px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 73px;
}

#u187
{
	width: 142px;
	padding-bottom: 10px;
}

#u187.MuseMenuActive
{
	width: 142px;
	min-height: 0px;
	margin: 0px;
}

#u190-4
{
	width: 128px;
	min-height: 29px;
	margin-right: -10000px;
	top: 5px;
	left: 7px;
}

#u187:hover #u190-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u649
{
	width: 122px;
	min-height: 39px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 217px;
}

#u650
{
	width: 122px;
	padding-bottom: 10px;
}

#u650.MuseMenuActive
{
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u652-4
{
	width: 109px;
	min-height: 29px;
	margin-right: -10000px;
	top: 5px;
	left: 6px;
}

#u650:hover #u652-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 109px;
	margin: 0px -10000px 0px 0px;
}

#u140,#u140-bw
{
	z-index: 22;
	min-height: 90px;
}

#u105
{
	z-index: 2;
	min-height: 63px;
	padding-bottom: 45px;
}

#u140_align_to_page,#u105_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#menuu511
{
	z-index: 3;
	width: 336px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 412px;
}

#u519
{
	width: 70px;
	min-height: 39px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u520
{
	width: 70px;
	padding-bottom: 10px;
}

#u520.MuseMenuActive
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u522-4
{
	width: 57px;
	min-height: 29px;
	margin-right: -10000px;
	top: 5px;
	left: 6px;
}

#u167.MuseMenuActive #u170-4,#u520:hover #u522-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u520.MuseMenuActive #u522-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u512
{
	width: 141px;
	min-height: 39px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 72px;
}

#u515
{
	width: 141px;
	padding-bottom: 10px;
}

#u515.MuseMenuActive
{
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#u518-4
{
	width: 128px;
	min-height: 29px;
	margin-right: -10000px;
	top: 5px;
	left: 6px;
}

#u187.MuseMenuActive #u190-4,#u515:hover #u518-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u515.MuseMenuActive #u518-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u656
{
	width: 121px;
	min-height: 39px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 215px;
}

#u657
{
	width: 121px;
	padding-bottom: 10px;
}

#u657.MuseMenuActive
{
	width: 121px;
	min-height: 0px;
	margin: 0px;
}

#u659-4
{
	width: 109px;
	min-height: 29px;
	margin-right: -10000px;
	top: 5px;
	left: 6px;
}

#u650.MuseMenuActive #u652-4,#u657:hover #u659-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 109px;
	margin: 0px -10000px 0px 0px;
}

#u657.MuseMenuActive #u659-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 109px;
	margin: 0px -10000px 0px 0px;
}

#u105-bw
{
	z-index: 2;
	min-height: 63px;
	margin-bottom: -46px;
	margin-top: 472px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -472px;
}

