#u105
{
	background-color: #0B512C;
}

#u105_align_to_page
{
	position: relative;
}

#u1047-4
{
	background-color: transparent;
	font-size: 42px;
	color: #FFFFFF;
	line-height: 50px;
	position: relative;
}

#u1048-4,#u1049-4
{
	background-color: transparent;
	font-size: 42px;
	color: #C0C0C0;
	line-height: 50px;
	position: relative;
}

#u1045-4
{
	background-color: transparent;
	text-align: center;
	color: #C0C0C0;
	position: relative;
}

#u1069,#u1056-4,#u1075,#u1081-4
{
	background-color: transparent;
	position: relative;
}

#u1056-2,#u1081-2
{
	color: #C0C0C0;
}

