#u140
{
	background-color: #0B512C;
}

#u140_align_to_page
{
	position: relative;
}

#u171-4
{
	background-color: transparent;
	line-height: 50px;
	font-size: 42px;
	color: #FFFFFF;
	position: relative;
}

#u555-4,#u560-4
{
	background-color: transparent;
	line-height: 50px;
	font-size: 42px;
	color: #C0C0C0;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#menuu163
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u177,#u164,#u167
{
	background-color: transparent;
	position: relative;
}

#u170-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u167:hover #u170-4
{
	background-color: transparent;
}

#u167:hover #u170-4 p
{
	color: #DCDCFF;
	visibility: inherit;
}

#u973,#u974
{
	background-color: transparent;
	position: relative;
}

#u977-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u167.MuseMenuActive #u170-4,#u974:hover #u977-4
{
	background-color: transparent;
}

#u974:hover #u977-4 p
{
	color: #DCDCFF;
	visibility: inherit;
}

#u999,#u1000
{
	background-color: transparent;
	position: relative;
}

#u1003-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u974.MuseMenuActive #u977-4,#u1000:hover #u1003-4
{
	background-color: transparent;
}

#u1000:hover #u1003-4 p
{
	color: #DCDCFF;
	visibility: inherit;
}

#u1030,#u1033
{
	background-color: transparent;
	position: relative;
}

#u1036-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u1000.MuseMenuActive #u1003-4,#u1033:hover #u1036-4
{
	background-color: transparent;
}

#u1033.MuseMenuActive #u1036-4
{
	background-color: transparent;
}

#u1033:hover #u1036-4 p
{
	color: #DCDCFF;
	visibility: inherit;
}

#u167.MuseMenuActive #u170-4 p,#u974.MuseMenuActive #u977-4 p,#u1000.MuseMenuActive #u1003-4 p,#u1033.MuseMenuActive #u1036-4 p
{
	color: #001900;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

