.version.python_compiler /* version checker */
{
	color: #000018;
	background-color: #79DE09;
}

.html
{
	background-color: #DCDCFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 578.8000000000002px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #DCDCFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -1px;
	width: 0.01px;
}

#pu1344-3
{
	width: 0.01px;
	margin-left: -100px;
}

#u1344-3
{
	z-index: 31;
	width: 1160px;
	min-height: 90px;
	margin-right: -10000px;
}

#u177
{
	z-index: 34;
	width: 265px;
	padding-bottom: 20px;
	margin-right: -10000px;
	left: 120px;
}

#u555-4
{
	z-index: 64;
	width: 28px;
	min-height: 53px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 8px;
}

#u171-4
{
	z-index: 60;
	width: 194px;
	min-height: 46px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 36px;
}

#u560-4
{
	z-index: 68;
	width: 28px;
	min-height: 53px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 230px;
}

#menuu163
{
	z-index: 35;
	width: 367px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 693px;
}

#u164
{
	width: 73px;
	min-height: 39px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u167
{
	width: 73px;
	padding-bottom: 10px;
}

#u167.MuseMenuActive
{
	width: 73px;
	min-height: 0px;
	margin: 0px;
}

#u170-4
{
	width: 59px;
	min-height: 29px;
	margin-right: -10000px;
	top: 5px;
	left: 7px;
}

#u167:hover #u170-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u167.MuseMenuActive #u170-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u973
{
	width: 100px;
	min-height: 39px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 75px;
}

#u974
{
	width: 100px;
	padding-bottom: 10px;
}

#u974.MuseMenuActive
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u977-4
{
	width: 86px;
	min-height: 29px;
	margin-right: -10000px;
	top: 5px;
	left: 7px;
}

#u974:hover #u977-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u974.MuseMenuActive #u977-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u999
{
	width: 91px;
	min-height: 39px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 177px;
}

#u1000
{
	width: 91px;
	padding-bottom: 10px;
}

#u1000:hover
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u1000.MuseMenuActive
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u1003-4
{
	width: 77px;
	min-height: 29px;
	margin-right: -10000px;
	top: 5px;
	left: 7px;
}

#u1000:hover #u1003-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 77px;
	margin: 0px -10000px 0px 0px;
}

#u1000.MuseMenuActive #u1003-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 77px;
	margin: 0px -10000px 0px 0px;
}

#u1030
{
	width: 97px;
	min-height: 39px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 270px;
}

#u1033
{
	width: 97px;
	padding-bottom: 10px;
}

#u1033.MuseMenuActive
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u1036-4
{
	width: 83px;
	min-height: 29px;
	margin-right: -10000px;
	top: 5px;
	left: 7px;
}

#u1033:hover #u1036-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u1033.MuseMenuActive #u1036-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u1302-4
{
	z-index: 72;
	width: 520px;
	min-height: 59px;
	background-color: transparent;
	line-height: 58px;
	margin-left: 220px;
	margin-top: 36px;
	position: relative;
}

#u1335
{
	z-index: 345;
	width: 319px;
	background-color: transparent;
	margin-left: 320px;
	margin-top: 26px;
	position: relative;
}

#u1303-12
{
	z-index: 76;
	width: 520px;
	min-height: 59px;
	background-color: transparent;
	margin-left: 220px;
	margin-top: 26px;
	position: relative;
}

#u1309
{
	z-index: 92;
	width: 216px;
	height: 22px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	border-width: 1px 0px 0px;
}

#u1308-4
{
	z-index: 88;
	width: 44px;
	min-height: 22px;
	background-color: transparent;
	line-height: 17px;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u1310
{
	z-index: 93;
	width: 216px;
	height: 22px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 260px;
	border-width: 1px 0px 0px;
}

#u1318-6
{
	z-index: 94;
	width: 520px;
	min-height: 59px;
	background-color: transparent;
	margin-left: 220px;
	margin-top: 14px;
	position: relative;
}

#u1328-33
{
	z-index: 312;
	width: 520px;
	min-height: 22px;
	background-color: transparent;
	line-height: 17px;
	margin-left: 220px;
	margin-top: 26px;
	position: relative;
}

#u1328-11,#u1328-16,#u1328-21,#u1328-26
{
	font-style: italic;
}

#u1342-43
{
	z-index: 351;
	width: 520px;
	min-height: 59px;
	background-color: transparent;
	margin-left: 220px;
	margin-top: 26px;
	position: relative;
}

#u1342-5,#u1342-7,#u1342-8,#u1342-13,#u1342-15,#u1342-17,#u1342-19,#u1342-21,#u1342-23,#u1342-25,#u1342-27,#u1342-29,#u1342-31,#u1342-33,#u1342-35,#u1342-37,#u1342-39,#u1342-41
{
	font-size: 14px;
}

#u1341-4
{
	z-index: 347;
	width: 520px;
	min-height: 59px;
	background-color: transparent;
	margin-left: 220px;
	margin-top: 26px;
	position: relative;
}

#u1320
{
	z-index: 104;
	width: 216px;
	height: 22px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	border-width: 1px 0px 0px;
}

#u1319-4
{
	z-index: 100;
	width: 44px;
	min-height: 22px;
	background-color: transparent;
	line-height: 17px;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u1321
{
	z-index: 105;
	width: 216px;
	height: 22px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 260px;
	border-width: 1px 0px 0px;
}

#u1322-151
{
	z-index: 106;
	width: 520px;
	min-height: 59px;
	background-color: transparent;
	margin-left: 220px;
	margin-top: 13px;
	position: relative;
}

#u1324
{
	z-index: 261;
	width: 216px;
	height: 22px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	border-width: 1px 0px 0px;
}

#u1323-4
{
	z-index: 257;
	width: 44px;
	min-height: 22px;
	background-color: transparent;
	line-height: 17px;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u1325
{
	z-index: 262;
	width: 216px;
	height: 22px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 260px;
	border-width: 1px 0px 0px;
}

#u1326-49
{
	z-index: 263;
	width: 520px;
	min-height: 59px;
	background-color: transparent;
	margin-left: 220px;
	margin-top: 14px;
	position: relative;
}

#u1419
{
	z-index: 398;
	width: 216px;
	height: 22px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	border-width: 1px 0px 0px;
}

#u1418-4
{
	z-index: 394;
	width: 44px;
	min-height: 22px;
	background-color: transparent;
	line-height: 17px;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u1420
{
	z-index: 399;
	width: 216px;
	height: 22px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 260px;
	border-width: 1px 0px 0px;
}

#u1421-67
{
	z-index: 400;
	width: 520px;
	min-height: 59px;
	background-color: transparent;
	margin-left: 220px;
	margin-top: 14px;
	position: relative;
}

#u1322-26,#u1322-28,#u1322-30,#u1322-32,#u1322-34,#u1322-36,#u1322-54,#u1322-56,#u1322-77,#u1322-79,#u1322-81,#u1322-83,#u1322-85,#u1322-87,#u1322-89,#u1322-91,#u1322-93,#u1322-99,#u1322-101,#u1322-103,#u1322-105,#u1322-107,#u1322-109,#u1322-111,#u1322-113,#u1322-115,#u1322-117,#u1322-123,#u1322-125,#u1322-127,#u1322-129,#u1322-131,#u1322-133,#u1322-139,#u1322-141,#u1322-143,#u1322-145,#u1322-147,#u1322-149,#u1326-18,#u1326-20,#u1326-22,#u1326-24,#u1326-30,#u1326-32,#u1326-34,#u1326-40,#u1326-42,#u1326-44,#u1421-17,#u1421-23,#u1421-25,#u1421-27,#u1421-29,#u1421-37,#u1421-39,#u1421-41,#u1421-43,#u1421-51,#u1421-53,#u1421-61,#u1421-63,#u1421-65
{
	line-height: 17px;
}

#pu1309,#pu1320,#pu1324,#pu1419,#pu1423
{
	width: 0.01px;
	margin-left: 242px;
	margin-top: 26px;
}

#u1423
{
	z-index: 471;
	width: 216px;
	height: 22px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	border-width: 1px 0px 0px;
}

#u1422-4
{
	z-index: 467;
	width: 44px;
	min-height: 22px;
	background-color: transparent;
	line-height: 17px;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u1308-2,#u1319-2,#u1323-2,#u1418-2,#u1422-2
{
	text-align: center;
	font-family: source-code-pro, sans-serif;
}

#u1424
{
	z-index: 472;
	width: 216px;
	height: 22px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 260px;
	border-width: 1px 0px 0px;
}

#u1425-10
{
	z-index: 473;
	width: 520px;
	min-height: 59px;
	background-color: transparent;
	margin-left: 220px;
	margin-top: 14px;
	position: relative;
}

#u1318-2,#u1322-2,#u1326-2,#u1421-2,#u1425-2
{
	line-height: 29px;
}

#u105
{
	z-index: 2;
	min-height: 94px;
	padding-bottom: 28px;
}

#u105_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u1069
{
	z-index: 23;
	width: 32px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 276px;
}

#u1056-4
{
	z-index: 19;
	width: 87px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 313px;
}

#ppu1048-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 445px;
}

#pu1048-4
{
	width: 0.01px;
	margin-left: 10px;
}

#u1048-4
{
	z-index: 11;
	width: 28px;
	min-height: 53px;
	margin-right: -10000px;
}

#u1047-4
{
	z-index: 7;
	width: 194px;
	min-height: 46px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 28px;
}

#u1049-4
{
	z-index: 15;
	width: 28px;
	min-height: 53px;
	margin-right: -10000px;
	left: 222px;
}

#u1045-4
{
	z-index: 3;
	width: 270px;
	min-height: 18px;
	margin-top: 5px;
}

#u1075
{
	z-index: 25;
	width: 32px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 765px;
}

#u1081-4
{
	z-index: 27;
	width: 49px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 53px;
	left: 802px;
}

#u105-bw
{
	z-index: 2;
	min-height: 94px;
	margin-top: 35px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

