.version.sherlock /* version checker */
{
	color: #000005;
	background-color: #43DFD9;
}

.html
{
	background-color: #DCDCFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 579px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #DCDCFF;
	margin-left: auto;
	margin-right: auto;
}

#pu1344-3
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: -100px;
}

#u1344-3,#u1344-3-bw
{
	z-index: 31;
	min-height: 90px;
}

#u177
{
	z-index: 34;
	width: 265px;
	padding-bottom: 20px;
	margin-right: -10000px;
	left: 120px;
}

#u555-4
{
	z-index: 64;
	width: 28px;
	min-height: 53px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 8px;
}

#u171-4
{
	z-index: 60;
	width: 194px;
	min-height: 46px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 36px;
}

#u560-4
{
	z-index: 68;
	width: 28px;
	min-height: 53px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 230px;
}

#menuu163
{
	z-index: 35;
	width: 367px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 693px;
}

#u164
{
	width: 73px;
	min-height: 39px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u167
{
	width: 73px;
	padding-bottom: 10px;
}

#u167.MuseMenuActive
{
	width: 73px;
	min-height: 0px;
	margin: 0px;
}

#u170-4
{
	width: 59px;
	min-height: 29px;
	margin-right: -10000px;
	top: 5px;
	left: 7px;
}

#u167:hover #u170-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u167.MuseMenuActive #u170-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u973
{
	width: 100px;
	min-height: 39px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 75px;
}

#u974
{
	width: 100px;
	padding-bottom: 10px;
}

#u974.MuseMenuActive
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u977-4
{
	width: 86px;
	min-height: 29px;
	margin-right: -10000px;
	top: 5px;
	left: 7px;
}

#u974:hover #u977-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u974.MuseMenuActive #u977-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u999
{
	width: 91px;
	min-height: 39px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 177px;
}

#u1000
{
	width: 91px;
	padding-bottom: 10px;
}

#u1000:hover
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u1000.MuseMenuActive
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u1003-4
{
	width: 77px;
	min-height: 29px;
	margin-right: -10000px;
	top: 5px;
	left: 7px;
}

#u1000:hover #u1003-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 77px;
	margin: 0px -10000px 0px 0px;
}

#u1000.MuseMenuActive #u1003-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 77px;
	margin: 0px -10000px 0px 0px;
}

#u1030
{
	width: 97px;
	min-height: 39px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 270px;
}

#u1033
{
	width: 97px;
	padding-bottom: 10px;
}

#u1033.MuseMenuActive
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u1036-4
{
	width: 83px;
	min-height: 29px;
	margin-right: -10000px;
	top: 5px;
	left: 7px;
}

#u1033:hover #u1036-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u1033.MuseMenuActive #u1036-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u105
{
	z-index: 2;
	min-height: 94px;
	padding-bottom: 28px;
}

#u105_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u1069
{
	z-index: 23;
	width: 32px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 276px;
}

#u1056-4
{
	z-index: 19;
	width: 87px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 313px;
}

#ppu1048-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 445px;
}

#pu1048-4
{
	width: 0.01px;
	margin-left: 10px;
}

#u1048-4
{
	z-index: 11;
	width: 28px;
	min-height: 53px;
	margin-right: -10000px;
}

#u1047-4
{
	z-index: 7;
	width: 194px;
	min-height: 46px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 28px;
}

#u1049-4
{
	z-index: 15;
	width: 28px;
	min-height: 53px;
	margin-right: -10000px;
	left: 222px;
}

#u1045-4
{
	z-index: 3;
	width: 270px;
	min-height: 18px;
	margin-top: 5px;
}

#u1075
{
	z-index: 25;
	width: 32px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 765px;
}

#u1081-4
{
	z-index: 27;
	width: 49px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 53px;
	left: 802px;
}

#u105-bw
{
	z-index: 2;
	min-height: 94px;
	margin-bottom: -1px;
	margin-top: 458px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -458px;
}

