.version.index /* version checker */
{
	color: #000007;
	background-color: #D12E40;
}

@-ms-viewport
{
	width: 600px;
}

@-webkit-viewport
{
	width: 600px;
}

@-o-viewport
{
	width: 600px;
}

@-moz-viewport
{
	width: 600px;
}

@viewport
{
	width: 600px;
}

.html
{
	background-color: #DCDCFF;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 900px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #DCDCFF;
}

#page_position_content,#pu751
{
	width: 0.01px;
}

#u751
{
	z-index: 22;
	min-height: 45px;
	padding-bottom: 53px;
}

#u777-4
{
	z-index: 46;
	width: 16px;
	min-height: 36px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 71px;
}

#u776-4
{
	z-index: 42;
	width: 147px;
	min-height: 34px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 91px;
}

#u829-4
{
	z-index: 50;
	width: 16px;
	min-height: 36px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 242px;
}

#u751-bw
{
	z-index: 22;
	min-height: 45px;
}

#menuu753
{
	z-index: 23;
	min-height: 31px;
}

#u754
{
	width: 159px;
	min-height: 30px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u757
{
	width: 159px;
	padding-bottom: 1px;
}

#u757.MuseMenuActive
{
	width: 159px;
	min-height: 0px;
	margin: 0px;
}

#u758-4
{
	width: 59px;
	min-height: 29px;
	margin-right: -10000px;
	left: 50px;
}

#u757:hover #u758-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u757.MuseMenuActive #u758-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u761
{
	width: 228px;
	min-height: 30px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 161px;
}

#u762
{
	width: 228px;
	padding-bottom: 1px;
}

#u762.MuseMenuActive
{
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u765-4
{
	width: 128px;
	min-height: 29px;
	margin-right: -10000px;
	left: 50px;
}

#u762:hover #u765-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u762.MuseMenuActive #u765-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u768
{
	width: 209px;
	min-height: 30px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 391px;
}

#u769
{
	width: 209px;
	padding-bottom: 1px;
}

#u769.MuseMenuActive
{
	width: 209px;
	min-height: 0px;
	margin: 0px;
}

#u771-4
{
	width: 109px;
	min-height: 29px;
	margin-right: -10000px;
	left: 50px;
}

#u769:hover #u771-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 109px;
	margin: 0px -10000px 0px 0px;
}

#u769.MuseMenuActive #u771-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 109px;
	margin: 0px -10000px 0px 0px;
}

#menuu753-bw
{
	z-index: 23;
	min-height: 31px;
	margin-top: 57px;
}

#u851-4
{
	z-index: 54;
	width: 520px;
	min-height: 59px;
	background-color: transparent;
	line-height: 58px;
	margin-left: 40px;
	margin-top: 23px;
	position: relative;
}

#pu854
{
	width: 0.01px;
	margin-left: 81px;
	margin-top: 24px;
}

#u854
{
	z-index: 69;
	width: 197px;
	height: 22px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	border-width: 1px 0px 0px;
}

#u853-4
{
	z-index: 65;
	width: 44px;
	min-height: 22px;
	background-color: transparent;
	line-height: 17px;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 197px;
}

#u853-2
{
	text-align: center;
	font-family: source-code-pro, sans-serif;
}

#u855
{
	z-index: 70;
	width: 197px;
	height: 22px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 241px;
	border-width: 1px 0px 0px;
}

#u856
{
	z-index: 71;
	width: 357px;
	background-color: transparent;
	margin-left: 122px;
	margin-top: 12px;
	position: relative;
}

#u852-7
{
	z-index: 58;
	width: 520px;
	min-height: 59px;
	background-color: transparent;
	margin-left: 40px;
	margin-top: 23px;
	position: relative;
}

#pu705
{
	width: 0.01px;
	margin-top: 18px;
}

#u705,#u705-bw
{
	z-index: 2;
	height: 53px;
}

#menuu729
{
	z-index: 3;
	min-height: 40px;
}

#u730
{
	width: 169px;
	min-height: 39px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u733
{
	width: 169px;
	padding-bottom: 17px;
}

#u733.MuseMenuActive
{
	width: 169px;
	min-height: 0px;
	margin: 0px;
}

#u734-4
{
	width: 44px;
	min-height: 22px;
	margin-right: -10000px;
	top: 8px;
	left: 62px;
}

#u733:hover #u734-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u733.MuseMenuActive #u734-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u737
{
	width: 221px;
	min-height: 39px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 171px;
}

#u738
{
	width: 221px;
	padding-bottom: 17px;
}

#u738.MuseMenuActive
{
	width: 221px;
	min-height: 0px;
	margin: 0px;
}

#u741-4
{
	width: 97px;
	min-height: 22px;
	margin-right: -10000px;
	top: 8px;
	left: 62px;
}

#u738:hover #u741-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 97px;
	margin: 0px -10000px 0px 0px;
}

#u738.MuseMenuActive #u741-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 97px;
	margin: 0px -10000px 0px 0px;
}

#u744
{
	width: 206px;
	min-height: 39px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 394px;
}

#u745
{
	width: 206px;
	padding-bottom: 17px;
}

#u745.MuseMenuActive
{
	width: 206px;
	min-height: 0px;
	margin: 0px;
}

#u747-4
{
	width: 82px;
	min-height: 22px;
	margin-right: -10000px;
	top: 8px;
	left: 62px;
}

#u745:hover #u747-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u745.MuseMenuActive #u747-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#menuu729-bw
{
	z-index: 3;
	min-height: 40px;
	margin-top: 6px;
}

body
{
	position: relative;
	min-width: 600px;
}

#page .verticalspacer
{
	clear: both;
}

