#u1170
{
	background-color: #0B512C;
}

#u1175-2
{
	color: #C0C0C0;
}

#u1172-4
{
	background-color: transparent;
	line-height: 50px;
	font-size: 42px;
	color: #FFFFFF;
	position: relative;
}

#u1173-4,#u1174-4
{
	background-color: transparent;
	line-height: 50px;
	font-size: 42px;
	color: #C0C0C0;
	position: relative;
}

#u1171-4
{
	background-color: transparent;
	text-align: center;
	color: #C0C0C0;
	position: relative;
}

#u1176,#u1175-4,#u1178,#u1180-4
{
	background-color: transparent;
	position: relative;
}

#u1180-2
{
	text-align: left;
	color: #C0C0C0;
}

