#u751
{
	background-color: #0B512C;
}

#u776-4
{
	background-color: transparent;
	font-size: 32px;
	line-height: 38px;
	color: #FFFFFF;
	position: relative;
}

#u777-4,#u829-4
{
	background-color: transparent;
	font-size: 32px;
	line-height: 38px;
	color: #C0C0C0;
	position: relative;
}

#menuu753
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u754,#u757
{
	background-color: transparent;
	position: relative;
}

#u758-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u757:hover #u758-4
{
	background-color: transparent;
}

#u757:hover #u758-4 p
{
	color: #DCDCFF;
	visibility: inherit;
}

#u761,#u762
{
	background-color: transparent;
	position: relative;
}

#u765-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u757.MuseMenuActive #u758-4,#u762:hover #u765-4
{
	background-color: transparent;
}

#u762:hover #u765-4 p
{
	color: #DCDCFF;
	visibility: inherit;
}

#u768,#u769
{
	background-color: transparent;
	position: relative;
}

#u771-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u762.MuseMenuActive #u765-4,#u769:hover #u771-4
{
	background-color: transparent;
}

#u769.MuseMenuActive #u771-4
{
	background-color: transparent;
}

#u769:hover #u771-4 p
{
	color: #DCDCFF;
	visibility: inherit;
}

#u757.MuseMenuActive #u758-4 p,#u762.MuseMenuActive #u765-4 p,#u769.MuseMenuActive #u771-4 p
{
	color: #001900;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

