#u1183
{
	background-color: #0B512C;
}

#u1214-4
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 50px;
	font-size: 42px;
	position: relative;
}

#u1215-4,#u1216-4
{
	background-color: transparent;
	color: #C0C0C0;
	font-size: 42px;
	line-height: 50px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#menuu1185
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1186,#u1187
{
	background-color: transparent;
	position: relative;
}

#u1188-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u1187:hover #u1188-4
{
	background-color: transparent;
}

#u1187:hover #u1188-4 p
{
	color: #DCDCFF;
	visibility: inherit;
}

#u1207,#u1208
{
	background-color: transparent;
	position: relative;
}

#u1210-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u1187.MuseMenuActive #u1188-4,#u1208:hover #u1210-4
{
	background-color: transparent;
}

#u1208:hover #u1210-4 p
{
	color: #DCDCFF;
	visibility: inherit;
}

#u1200,#u1203
{
	background-color: transparent;
	position: relative;
}

#u1206-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u1208.MuseMenuActive #u1210-4,#u1203:hover #u1206-4
{
	background-color: transparent;
}

#u1203:hover #u1206-4 p
{
	color: #DCDCFF;
	visibility: inherit;
}

#u1193,#u1194
{
	background-color: transparent;
	position: relative;
}

#u1196-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u1203.MuseMenuActive #u1206-4,#u1194:hover #u1196-4
{
	background-color: transparent;
}

#u1194.MuseMenuActive #u1196-4
{
	background-color: transparent;
}

#u1194:hover #u1196-4 p
{
	color: #DCDCFF;
	visibility: inherit;
}

#u1187.MuseMenuActive #u1188-4 p,#u1208.MuseMenuActive #u1210-4 p,#u1203.MuseMenuActive #u1206-4 p,#u1194.MuseMenuActive #u1196-4 p
{
	color: #001900;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

