.version.projects /* version checker */
{
	color: #000012;
	background-color: #9BF994;
}

@-ms-viewport
{
	width: 600px;
}

@-webkit-viewport
{
	width: 600px;
}

@-o-viewport
{
	width: 600px;
}

@-moz-viewport
{
	width: 600px;
}

@viewport
{
	width: 600px;
}

.html
{
	background-color: #DCDCFF;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 779px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #DCDCFF;
}

#page_position_content
{
	margin-bottom: -159px;
	width: 0.01px;
}

#pu1183
{
	width: 0.01px;
}

#u1183
{
	z-index: 31;
	min-height: 62px;
	padding-bottom: 62px;
}

#u1215-4
{
	z-index: 61;
	width: 28px;
	min-height: 53px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 94px;
}

#u1214-4
{
	z-index: 57;
	width: 194px;
	min-height: 46px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 122px;
}

#u1216-4
{
	z-index: 65;
	width: 28px;
	min-height: 53px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 316px;
}

#u1183-bw
{
	z-index: 31;
	min-height: 62px;
}

#menuu1185
{
	z-index: 32;
	min-height: 40px;
}

#u1186
{
	width: 132px;
	min-height: 39px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u1187
{
	width: 132px;
	padding-bottom: 10px;
}

#u1187.MuseMenuActive
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u1188-4
{
	width: 59px;
	min-height: 29px;
	margin-right: -10000px;
	top: 5px;
	left: 36px;
}

#u1187:hover #u1188-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u1187.MuseMenuActive #u1188-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u1207
{
	width: 158px;
	min-height: 39px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 134px;
}

#u1208
{
	width: 158px;
	padding-bottom: 10px;
}

#u1208.MuseMenuActive
{
	width: 158px;
	min-height: 0px;
	margin: 0px;
}

#u1210-4
{
	width: 86px;
	min-height: 29px;
	margin-right: -10000px;
	top: 5px;
	left: 36px;
}

#u1208:hover #u1210-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u1208.MuseMenuActive #u1210-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u1200
{
	width: 149px;
	min-height: 39px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 294px;
}

#u1203
{
	width: 149px;
	padding-bottom: 10px;
}

#u1203.MuseMenuActive
{
	width: 149px;
	min-height: 0px;
	margin: 0px;
}

#u1206-4
{
	width: 77px;
	min-height: 29px;
	margin-right: -10000px;
	top: 5px;
	left: 36px;
}

#u1203:hover #u1206-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 77px;
	margin: 0px -10000px 0px 0px;
}

#u1203.MuseMenuActive #u1206-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 77px;
	margin: 0px -10000px 0px 0px;
}

#u1193
{
	width: 155px;
	min-height: 39px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 445px;
}

#u1194
{
	width: 155px;
	padding-bottom: 10px;
}

#u1194.MuseMenuActive
{
	width: 155px;
	min-height: 0px;
	margin: 0px;
}

#u1196-4
{
	width: 83px;
	min-height: 29px;
	margin-right: -10000px;
	top: 5px;
	left: 36px;
}

#u1194:hover #u1196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u1194.MuseMenuActive #u1196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#menuu1185-bw
{
	z-index: 32;
	min-height: 40px;
	margin-top: 71px;
}

#u1234-4
{
	z-index: 69;
	width: 520px;
	min-height: 59px;
	background-color: transparent;
	line-height: 58px;
	margin-left: 40px;
	margin-top: 21px;
	position: relative;
}

#pu1237
{
	width: 0.01px;
	margin-left: 62px;
	margin-top: 26px;
}

#u1237
{
	z-index: 83;
	width: 216px;
	height: 22px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	border-width: 1px 0px 0px;
}

#u1236-4
{
	z-index: 79;
	width: 44px;
	min-height: 22px;
	background-color: transparent;
	line-height: 17px;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u1236-2
{
	text-align: center;
	font-family: source-code-pro, sans-serif;
}

#u1238
{
	z-index: 84;
	width: 216px;
	height: 22px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 260px;
	border-width: 1px 0px 0px;
}

#u1235-6
{
	z-index: 73;
	width: 520px;
	min-height: 59px;
	background-color: transparent;
	margin-left: 40px;
	margin-top: 14px;
	position: relative;
}

#u1239-6
{
	z-index: 85;
	width: 520px;
	min-height: 59px;
	background-color: transparent;
	margin-left: 40px;
	margin-top: 26px;
	position: relative;
}

#u1235-2,#u1239-2
{
	line-height: 29px;
}

#u1170
{
	z-index: 2;
	min-height: 102px;
	padding-bottom: 99px;
}

#u1176
{
	z-index: 23;
	width: 32px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 28px;
}

#u1175-4
{
	z-index: 19;
	width: 91px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 65px;
}

#ppu1173-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 165px;
}

#pu1173-4
{
	width: 0.01px;
	margin-left: 10px;
}

#u1173-4
{
	z-index: 11;
	width: 28px;
	min-height: 53px;
	margin-right: -10000px;
}

#u1172-4
{
	z-index: 7;
	width: 194px;
	min-height: 46px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 28px;
}

#u1174-4
{
	z-index: 15;
	width: 28px;
	min-height: 53px;
	margin-right: -10000px;
	left: 222px;
}

#u1171-4
{
	z-index: 3;
	width: 270px;
	min-height: 18px;
	margin-top: 5px;
}

#u1178
{
	z-index: 25;
	width: 32px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 481px;
}

#u1180-4
{
	z-index: 27;
	width: 59px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 53px;
	left: 518px;
}

#u1170-bw
{
	z-index: 2;
	min-height: 102px;
	margin-top: 303px;
}

body
{
	position: relative;
	min-width: 600px;
	padding-bottom: 100px;
}

#page .verticalspacer
{
	clear: both;
}

