.version.python_compiler /* version checker */
{
	color: #0000F6;
	background-color: #0A73AE;
}

@-ms-viewport
{
	width: 600px;
}

@-webkit-viewport
{
	width: 600px;
}

@-o-viewport
{
	width: 600px;
}

@-moz-viewport
{
	width: 600px;
}

@viewport
{
	width: 600px;
}

.html
{
	background-color: #DCDCFF;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 778.8749999999991px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #DCDCFF;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -159px;
	width: 0.01px;
}

#pu1183
{
	width: 0.01px;
}

#u1183
{
	z-index: 31;
	min-height: 62px;
	padding-bottom: 62px;
}

#u1215-4
{
	z-index: 61;
	width: 28px;
	min-height: 53px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 94px;
}

#u1214-4
{
	z-index: 57;
	width: 194px;
	min-height: 46px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 122px;
}

#u1216-4
{
	z-index: 65;
	width: 28px;
	min-height: 53px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 316px;
}

#u1183-bw
{
	z-index: 31;
	min-height: 62px;
}

#menuu1185
{
	z-index: 32;
	min-height: 40px;
}

#u1186
{
	width: 132px;
	min-height: 39px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u1187
{
	width: 132px;
	padding-bottom: 10px;
}

#u1187.MuseMenuActive
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u1188-4
{
	width: 59px;
	min-height: 29px;
	margin-right: -10000px;
	top: 5px;
	left: 36px;
}

#u1187:hover #u1188-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u1187.MuseMenuActive #u1188-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u1207
{
	width: 158px;
	min-height: 39px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 134px;
}

#u1208
{
	width: 158px;
	padding-bottom: 10px;
}

#u1208.MuseMenuActive
{
	width: 158px;
	min-height: 0px;
	margin: 0px;
}

#u1210-4
{
	width: 86px;
	min-height: 29px;
	margin-right: -10000px;
	top: 5px;
	left: 36px;
}

#u1208:hover #u1210-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u1208.MuseMenuActive #u1210-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u1200
{
	width: 149px;
	min-height: 39px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 294px;
}

#u1203
{
	width: 149px;
	padding-bottom: 10px;
}

#u1203.MuseMenuActive
{
	width: 149px;
	min-height: 0px;
	margin: 0px;
}

#u1206-4
{
	width: 77px;
	min-height: 29px;
	margin-right: -10000px;
	top: 5px;
	left: 36px;
}

#u1203:hover #u1206-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 77px;
	margin: 0px -10000px 0px 0px;
}

#u1203.MuseMenuActive #u1206-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 77px;
	margin: 0px -10000px 0px 0px;
}

#u1193
{
	width: 155px;
	min-height: 39px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 445px;
}

#u1194
{
	width: 155px;
	padding-bottom: 10px;
}

#u1194.MuseMenuActive
{
	width: 155px;
	min-height: 0px;
	margin: 0px;
}

#u1196-4
{
	width: 83px;
	min-height: 29px;
	margin-right: -10000px;
	top: 5px;
	left: 36px;
}

#u1194:hover #u1196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u1194.MuseMenuActive #u1196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#menuu1185-bw
{
	z-index: 32;
	min-height: 40px;
	margin-top: 71px;
}

#u1503-4
{
	z-index: 69;
	width: 520px;
	min-height: 59px;
	background-color: transparent;
	line-height: 58px;
	margin-left: 40px;
	margin-top: 26px;
	position: relative;
}

#u1518
{
	z-index: 342;
	width: 319px;
	background-color: transparent;
	margin-left: 141px;
	margin-top: 26px;
	position: relative;
}

#u1504-12
{
	z-index: 73;
	width: 520px;
	min-height: 59px;
	background-color: transparent;
	margin-left: 40px;
	margin-top: 26px;
	position: relative;
}

#u1506
{
	z-index: 89;
	width: 216px;
	height: 22px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	border-width: 1px 0px 0px;
}

#u1505-4
{
	z-index: 85;
	width: 44px;
	min-height: 22px;
	background-color: transparent;
	line-height: 17px;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u1507
{
	z-index: 90;
	width: 216px;
	height: 22px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 260px;
	border-width: 1px 0px 0px;
}

#u1508-6
{
	z-index: 91;
	width: 520px;
	min-height: 59px;
	background-color: transparent;
	margin-left: 40px;
	margin-top: 14px;
	position: relative;
}

#u1517-33
{
	z-index: 309;
	width: 520px;
	min-height: 22px;
	background-color: transparent;
	line-height: 17px;
	margin-left: 40px;
	margin-top: 26px;
	position: relative;
}

#u1517-11,#u1517-16,#u1517-21,#u1517-26
{
	font-style: italic;
}

#u1521-43
{
	z-index: 348;
	width: 520px;
	min-height: 59px;
	background-color: transparent;
	margin-left: 40px;
	margin-top: 26px;
	position: relative;
}

#u1521-5,#u1521-7,#u1521-8,#u1521-13,#u1521-15,#u1521-17,#u1521-19,#u1521-21,#u1521-23,#u1521-25,#u1521-27,#u1521-29,#u1521-31,#u1521-33,#u1521-35,#u1521-37,#u1521-39,#u1521-41
{
	font-size: 14px;
}

#u1520-4
{
	z-index: 344;
	width: 520px;
	min-height: 59px;
	background-color: transparent;
	margin-left: 40px;
	margin-top: 26px;
	position: relative;
}

#pu1510
{
	width: 0.01px;
	margin-left: 62px;
	margin-top: 25px;
}

#u1510
{
	z-index: 101;
	width: 216px;
	height: 22px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	border-width: 1px 0px 0px;
}

#u1509-4
{
	z-index: 97;
	width: 44px;
	min-height: 22px;
	background-color: transparent;
	line-height: 17px;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u1511
{
	z-index: 102;
	width: 216px;
	height: 22px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 260px;
	border-width: 1px 0px 0px;
}

#u1512-151
{
	z-index: 103;
	width: 520px;
	min-height: 59px;
	background-color: transparent;
	margin-left: 40px;
	margin-top: 14px;
	position: relative;
}

#u1514
{
	z-index: 258;
	width: 216px;
	height: 22px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	border-width: 1px 0px 0px;
}

#u1513-4
{
	z-index: 254;
	width: 44px;
	min-height: 22px;
	background-color: transparent;
	line-height: 17px;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u1515
{
	z-index: 259;
	width: 216px;
	height: 22px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 260px;
	border-width: 1px 0px 0px;
}

#u1516-49
{
	z-index: 260;
	width: 520px;
	min-height: 59px;
	background-color: transparent;
	margin-left: 40px;
	margin-top: 14px;
	position: relative;
}

#u1523
{
	z-index: 395;
	width: 216px;
	height: 22px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	border-width: 1px 0px 0px;
}

#u1522-4
{
	z-index: 391;
	width: 44px;
	min-height: 22px;
	background-color: transparent;
	line-height: 17px;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u1524
{
	z-index: 396;
	width: 216px;
	height: 22px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 260px;
	border-width: 1px 0px 0px;
}

#u1525-67
{
	z-index: 397;
	width: 520px;
	min-height: 59px;
	background-color: transparent;
	margin-left: 40px;
	margin-top: 14px;
	position: relative;
}

#u1512-26,#u1512-28,#u1512-30,#u1512-32,#u1512-34,#u1512-36,#u1512-54,#u1512-56,#u1512-77,#u1512-79,#u1512-81,#u1512-83,#u1512-85,#u1512-87,#u1512-89,#u1512-91,#u1512-93,#u1512-99,#u1512-101,#u1512-103,#u1512-105,#u1512-107,#u1512-109,#u1512-111,#u1512-113,#u1512-115,#u1512-117,#u1512-123,#u1512-125,#u1512-127,#u1512-129,#u1512-131,#u1512-133,#u1512-139,#u1512-141,#u1512-143,#u1512-145,#u1512-147,#u1512-149,#u1516-18,#u1516-20,#u1516-22,#u1516-24,#u1516-30,#u1516-32,#u1516-34,#u1516-40,#u1516-42,#u1516-44,#u1525-17,#u1525-23,#u1525-25,#u1525-27,#u1525-29,#u1525-37,#u1525-39,#u1525-41,#u1525-43,#u1525-51,#u1525-53,#u1525-61,#u1525-63,#u1525-65
{
	line-height: 17px;
}

#pu1506,#pu1514,#pu1523,#pu1527
{
	width: 0.01px;
	margin-left: 62px;
	margin-top: 26px;
}

#u1527
{
	z-index: 468;
	width: 216px;
	height: 22px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	border-width: 1px 0px 0px;
}

#u1526-4
{
	z-index: 464;
	width: 44px;
	min-height: 22px;
	background-color: transparent;
	line-height: 17px;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u1505-2,#u1509-2,#u1513-2,#u1522-2,#u1526-2
{
	text-align: center;
	font-family: source-code-pro, sans-serif;
}

#u1528
{
	z-index: 469;
	width: 216px;
	height: 22px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 260px;
	border-width: 1px 0px 0px;
}

#u1529-10
{
	z-index: 470;
	width: 520px;
	min-height: 59px;
	background-color: transparent;
	margin-left: 40px;
	margin-top: 14px;
	position: relative;
}

#u1508-2,#u1512-2,#u1516-2,#u1525-2,#u1529-2
{
	line-height: 29px;
}

#u1170
{
	z-index: 2;
	min-height: 102px;
	padding-bottom: 99px;
}

#u1176
{
	z-index: 23;
	width: 32px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 28px;
}

#u1175-4
{
	z-index: 19;
	width: 91px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 65px;
}

#ppu1173-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 165px;
}

#pu1173-4
{
	width: 0.01px;
	margin-left: 10px;
}

#u1173-4
{
	z-index: 11;
	width: 28px;
	min-height: 53px;
	margin-right: -10000px;
}

#u1172-4
{
	z-index: 7;
	width: 194px;
	min-height: 46px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 28px;
}

#u1174-4
{
	z-index: 15;
	width: 28px;
	min-height: 53px;
	margin-right: -10000px;
	left: 222px;
}

#u1171-4
{
	z-index: 3;
	width: 270px;
	min-height: 18px;
	margin-top: 5px;
}

#u1178
{
	z-index: 25;
	width: 32px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 481px;
}

#u1180-4
{
	z-index: 27;
	width: 59px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 53px;
	left: 518px;
}

#u1170-bw
{
	z-index: 2;
	min-height: 102px;
	margin-top: 29px;
}

body
{
	position: relative;
	min-width: 600px;
	padding-bottom: 100px;
}

#page .verticalspacer
{
	clear: both;
}

